@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root{
    --primary : rgb(241, 0, 0);
    --secondary : black;
    --white : aliceblue;
    --light : aqua;
}

button,input[type="submit"]{
    border-radius: 15px;
    

}





/* global selector */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Signika Negative", sans-serif;
}






/* tag selector */
.label{
    font-size: 3em;
}
input{
    height: 25px;
    width: 250px;
}
/* h1{
    /* text-align: center; */
/* } */
form{
    
}




/* id selector */
#sin{
color: #be1616;
}
#form{
    display: flex;
    justify-content: center;
}
#button{
    margin: 6px 52px;
    width: 150px;
}








/* class selector */
.num{
    color: rgb(145, 192, 34);
}
.login{
display: flex;
flex-direction: column;
border: 2px solid;
width: 291px;
/* text-align: center; */
height: 350px;
margin: 80px;
}
.form{
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 19px;
    gap: 10px;
    
}
.log{
    display: flex;
    justify-content: center;
}



/* menu */

.nav{
    display: flex;
    
    justify-content: space-between;
    height: 30px;
    padding: 20px;

}
.nav>div{

}

.nav>div>ul{
    display: flex;
    gap: 30px;

}
.nav>div>ul>li:hover{
text-decoration: underline;
cursor: pointer;
}
/* menu close */

/* nav section */
.main{
    background-color:var(--primary);
    display: flex;
    justify-content: space-between;


}
.logo{
    margin: 22px 10px;
    
}
.nav>ul{
    display: flex;
    gap: 25px;
    margin: 10px 10px;

}

/* nav section end */

/* main section start */
.info{
    /* background-image: url();
    background-repeat: no-repeat;
    background-size: cover; */
    height: 500px;
    background-color:var(--secondary);
    display: flex;
    justify-content: space-around;

}
.para{
    color:var(--white);
    font-size: 30px;
    margin: 150px 10px;

}
.img>img{
    height: 369px;
    margin: 64px 10px;
    border-radius: 15px;
    transition: 0.5s;

}
.img>img:hover{
    color: var(--light);
   box-shadow: 10px 10px 20px;
}
/* mian section end */

/* form start */
.info{

}
.class{
    display: flex;
}
label{
   

}
input{

}
.main-btn{
    background-color: var(--primary);
    color: var(--white);
    height: 28px;
    width: 72px;
}



